div {
  border:0px solid red;
}

.detail {
  color:#282828;
  font-weight:600;
}

.container {
  padding-top:25px;
}
/* Header/Logo CSS */
/* ------------------- */
section#logo-section {
  border-style:none;

  margin-top:0px;
  padding-top:25px;
  padding-bottom:25px;
}

img.logo {
  width:180px;
}

/* FEATURED PROJECTS & RECOMMENDATIONS SECTION */
/* ------------------- */
div.recommended-view-projects-link {
  margin-top:15px;
}

div.recommended-project-column-divider {
  border-bottom:1px solid #ccc;
}

/* PODCAST SECTION */
/* ----------------*/

section#podcast-section {
  font-family: 'Noto Serif', serif;
}

.podcast-header-text {
  font-size:24px;
  margin-bottom:25px;
  font-weight:bold;
}
.podcast-desc {
  font-size:18px;
  margin-bottom:25px;
}

div.podcast-green-line {
  border-left:10px solid #037362;
  padding-left:20px;
}


/* FRESH FAVORITES SECTION */
/* ----------------*/



/* ZINE QUEST */
/* ----------------*/

/* MORE TO EXPLORE */
.heading {
  font-size: 13px;
  line-height: 1.8rem;
  margin-bottom: 15px;
  font-weight: 700;
  color: #656969;

}

.magazine {
  color: #656969;
  font-size: 0.85rem;
  line-height: 1.5rem;
  padding: 0.9rem 0;
}
.borderTopBottom {
  margin-bottom: 1.5rem;
  border-bottom: 0.05rem solid #DCDEDD;
  /* border-top: 0.1rem solid #DCDEDD; */
}
.columns {
  margin-bottom: 1rem !important;
}

.borderTopBottom .column p:hover {
text-decoration: underline;
color: #037362;
text-decoration-color: #037362;
}
/* ----------------*/